.homepage {
    background:black;
    overflow: hidden;
}
.section1 {
    height: 1000px;
}

#section1-div > img {
   height: 60%;
}

#banner-info {
    /* background: blue; */
    position: absolute;
    height: 500px;
    width: 40%;
    bottom: 400px;
    left: 10%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

#banner-info >h3, #banner-scroll {
    margin-top: 20px;
    font-size: 25px;
    /* background: red; */
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    box-shadow: 0px 0px 50px 5px rgba(255,255,255,1);
    padding: 20px;
    border-radius: 50px;
}

#banner-title {
    font-size: calc(30px + (60 - 30) * ((100vw - 300px) / (1700 - 300)));
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
    text-align: left;
    font-weight: bold;
    text-shadow: 2px 2px 2px white;
    /* width: 100%; */
    width: 90%;

}

#banner-small {
    font-size: calc(20px + (35 - 20) * ((100vw - 300px) / (1700 - 300)));
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
    text-align: left;
    font-weight: 500;
    width: 90%;
}
#banner-video {
    /* background: green; */
    position: absolute;
    height: 600px;
    width: 40%;
    bottom: 350px;
    left: 50%;
    overflow: hidden;
}

#banner-video > video , #banner-video-vid {
    height: 100%;
    /* width: 100%; */
}
#section1 > h1 {
    color: white;
    text-transform: uppercase;
    font-size: calc(50px + (100 - 50) * ((100vw - 300px) / (1700 - 300)));
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    /* background: red; */
    letter-spacing: 2px;
    width: 100%;
    text-shadow: 0px 0px 30px rgba(255,255,255,1);
    position: absolute;
    top: 10%;
}

#section1-div {
    height: 500px;
    width: 500px;
    /* background: red; */
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    padding: 0;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
}


.section2 {
    height: 1000px;
    background: black;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


#sec2-h1-1  {
    z-index: 2;
    width: 60%;
    position: absolute;
    text-align: center;
    text-transform: capitalize;
    color: white;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: calc(50px + (100 - 50) * ((100vw - 300px) / (1700 - 300)));
    top: 300px;
    opacity: 0;
}

#video-sec2 {
    /* background: red;  */
    height: 800px;
    width: 80%;
    position: absolute;
    top: 10px;
}

#video-sec2 > video {
    width: 100%;
    height: 100%;
    top: 0%;
    /* background: green; */
    position: relative;
}

.section3 {
    height: 100vh;
    background: black;
}
.section3 > h1 {
    position: relative;
    /* background: red; */
    opacity: 0;
    top: 50%;
    width: 40%;
    text-align: left;
    text-transform: capitalize;
    color: white;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: calc(30px + (60 - 30) * ((100vw - 600px) / (1700 - 600)));
}

#sec3-vid {
    position: relative;
    /* background: red; */
    height: 60%;
    width: 30%;
    left: 60%;
    opacity: 0;
    bottom: 0%;
}
#sec3-vid > video {
    height: 100%;
    width: 100%;
}


.section4 {
    height: 1000px;
    background: black;
}

#text-end {
    /* background: red;/ */
    width: 50%;
    height: 200px;
    position: relative;
    left: 25%;
    top: 400px;
    opacity: 0;
    color: white;
    font-weight: bold;
    text-transform: capitalize;
    font-size: calc(40px + (70 - 40) * ((100vw - 600px) / (1700 - 600)));
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;

}

#badge-end {
    /* background: blue; */
    height: 300px;
    width: 300px;
    position: relative;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;

}
#badge-end >img {
    width: 50%;
}




/* Mobile view */
@media screen and (max-width: 600px){
    #section1 {
        display: flex;
        flex-direction: column;;
        /* background: red; */
    }

    #banner-info {
        /* background: green; */
        width: 90%;
        height: 50%;
        top: 200px;
        left: 5%;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }
    #banner-info > h2, #banner-info > h1 {
        text-align: center;
    }
    #banner-info > h3 {
        padding: 10px 30px;
        font-size: 15px;
        text-align: center;
        margin: 20px;
        
    }
    #banner-video {
        width: 100%;
        height: 80%;
        left: 0%;
        top: 0%;
        /* background: blue; */
    }
    #banner-video > video {
        /* width: 100%; */
        height: 100%;
    }
    #section2 {
        height: 1000px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #sec2-h1-1 , #sec2-h1-2, #sec2-h1-3 {
        /* background: red; */
        width: 80%;
        /* margin: 20px 0;  */
        position: absolute;
        text-align: center;
        text-transform: capitalize;
        color: white;
        font-size: calc(30px + (40 - 30) * ((100vw - 300px) / (600 - 300)));
    }
    #sec2-h1-1 {
        top: 500px;
    }

    #video-sec2 {
        top: 100px;
        height: 100%;
    }

    #video-sec2 > video {
        width: none;
    }


    #sec3-h1 {
        display: none;
    }

    .section3 > h1 {
        width: 90%;
        z-index: 1;
        left: 5%;
        /* background: blue; */
        text-align: center;
        top: 500px;
    }
    #sec3-vid {
        width: 90%;
        left: 5%;
        height: 500px;
        top: 150px;
        /* background: green; */
        overflow: hidden;
    }
    #sec3-vid > video {
        height: none;
        width: none;
    }

    #text-end {
        width: 80%;
        left: 10%;
        font-size: calc(30px + (40 - 30) * ((100vw - 300px) / (600 - 300)));

    }
}


/* Tablet View */
@media screen and (max-width: 1000px) and (min-width: 601px){
    #section1 {
        display: flex;
        flex-direction: column;;
        /* background: red; */
    }

    #banner-info {
        /* background: green; */
        width: 80%;
        height: 50%;
        top: 200px;
        left: 10%;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }
    #banner-info > h2, #banner-info > h1 {
        text-align: center;
    }
    #banner-info > h2 {
        width: 80%;
    }
    #banner-info > h3 {
        padding: 10px 30px;
        font-size: 15px;
        text-align: center;
        margin: 20px;
        
    }
    #banner-video {
        width: 100%;
        height: 100%;
        left: 0%;
        bottom: 0px;
        top: 10px;
        /* background: blue; */
    }
    #banner-video > video {
        /* width: 100%; */
        height: 100%;
    }

    #sec2-h1-1 {
        width: 80%;
    }
    #sec3-h1 {
        display: none;
    }
    #sec3-h1-mobile {
        /* background: red; */
        width: 90%;
        left: 5%;
        top: 70px;
        text-align: center;
    }
    #sec3-vid {
        width: 90%;
        left: 5%;
        height: 500px;
        top: 350px;
        background: black;
        overflow: hidden;
    }
    #sec3-vid > video {
        height: none;
        width: 100%;;
    }
}



/* Laptop view */
@media screen and (min-width: 1001px) and (max-width: 1250px){
    #sec2-h1-1 {
        width: 70%;
    }
    #banner-info >h3 {
        /* margin-top: 50px; */
        font-size: 20px;
        /* background: red; */
        font-weight: bold;
        text-transform: uppercase;
        color: white;
        box-shadow: 0px 0px 50px 5px rgba(255,255,255,1);
        padding: 20px;
        border-radius: 50px;
    }
    
    .banner-title {
        font-size: calc(30px + (50 - 30) * ((100vw - 300px) / (1700 - 300)));
        color: white;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
        text-align: left;
        font-weight: bold;
        text-shadow: 2px 2px 2px white;
        /* width: 100%; */
        width: 90%;
    
    }
    
    .banner-small {
        font-size: calc(20px + (30 - 20) * ((100vw - 300px) / (1700 - 300)));
        color: white;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
        text-align: left;
        font-weight: 500;
        width: 90%;
    }

   
    #banner-info {
        width: 45%;
        left: 5%;
    }

    #banner-video {
        width: 45%;
        left: 50%;
    }

    #sec3-h1 {
        /* background: red; */
        left: -100px;
        top: 400px;
        font-size: calc(30px + (40 - 30) * ((100vw - 300px) / (1700 - 300)));
    }
    #sec3-vid {
        /* background: blue; */
        width: 40%;
        left: 55%;
        top: 100px;
    }
}



 /* 4k view */
@media screen and (min-width: 1700px){

    .section1 {
        height: 1500px;
        /* background: red; */
    }
    #banner-info {
        bottom: 400px;
        height: 50%;
        /* background: blue; */
    }

    #banner-info >h3 {
        margin-top: 50px;
        font-size: 40px;
        /* background: red; */
        font-weight: bold;
        text-transform: uppercase;
        color: white;
        box-shadow: 0px 0px 50px 5px rgba(255,255,255,1);
        padding: 30px;
        border-radius: 50px;
    }
    
    .banner-title {
        font-size: calc(50px + (80 - 50) * ((100vw - 300px) / (1700 - 300)));
        color: white;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
        text-align: left;
        font-weight: bold;
        text-shadow: 2px 2px 2px white;
        /* width: 100%; */
        width: 90%;
    
    }
    
    .banner-small {
        font-size: calc(20px + (40 - 20) * ((100vw - 300px) / (1700 - 300)));
        color: white;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
        text-align: left;
        font-weight: 500;
        width: 80%;
        margin: 20px 0;
    }

    #banner-video {
        background: green;
        width: 40%;
        left: 50%;
        bottom: 200px;
        height: 80%;
    }

    #section1-div {
        /* background: red; */
        /* opacity: 1; */
        width: 800px;
        height: 800px;
        top: 1000px;
    }

    #section2 {
        height: 1500px;
    }

    #sec2-h1-1 {
        top: 500px;
        width: 50%;
    }

    #video-sec2 {
        height: 1200px;
        width: 80%;
        position: absolute;
        top: 200px;
    }

    #sec3-h1 {
        /* background: red; */
        top: 700px;
        left: 100px;
    }

    .section4 {
        height: 1500px;
        /* background: red; */
    }

    #badge-end {
        /* background: blue; */
        width: 600px;
        top: 100px;
        
    }
    #text-end {
        top: 700px;
        font-size: 150px;
    }
}

@media screen and (min-width: 1001px){
    #sec3-h1-mobile {
        display: none;
    }
}