.drawer {
    height: 100vh;
    background: black;
    position: fixed;
    top: 0;
    right: 0;
    width: 70vw;
    z-index: 200;
    max-width: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    -webkit-transform: translateX(100%);
    cursor: pointer;
    transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-out;
    transition: transform 0.5s ease-out;
    
}

.drawer > a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    margin: 15px;
    letter-spacing: 2px;
}

.drawer > a:active, .drawer > a:focus {
    color: red;
    text-decoration: none;
}   

.drawer > button {
    background: white;
    display: flex;
    margin: 30px auto;
    width: 50%;
    height: 50px;
    justify-content: center;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}
.drawer > button:focus {
    outline: none;
}


.drawer.open {
    transform: translateX(0);
    -webkit-transform: translateX(0)

}

@media screen and (min-width: 799px){
    .drawer {
        display: none;
    }
}