.athlete-profile-main {
    display: flex;
    justify-content: center;
    align-items: center;
}
.athlete-profile {
    /* background: red; */
    width: 60%;
    height: auto;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
}

/* Profile header styling */
.profile-header-image {
    /* background: green; */
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-header-image > img {
    width: 200px;
    height: 200px;
    position: cover;
    border-radius: 50%;
    object-fit: cover;
    border: solid 8px #C13540;
}
.profile-header-info {
    /* background: orange; */
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}
.profile-header-info > h1 {
    font-weight: bold;
    /* font-size: 50px; */
    text-transform: capitalize;
    font-size: calc(30px + (50 - 30) * ((100vw - 300px) / (1700 - 300)));

    
}
.profile-header-info > h2 {
    font-weight: 400;
    font-size: calc(25px + (30 - 25) * ((100vw - 300px) / (1700 - 300)));
    
}
.profile-header-info > h3 {
    font-weight: 400;
    font-size: calc(25px + (30 - 25) * ((100vw - 300px) / (1700 - 300)));
}
.profile-header {
    background: #F7F7F7;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 3px #D9D5D5;
    border-radius: 20px;
    box-shadow: 1px 2px 5px grey;
}


/* Profile options bar */
.profile-options {
    background: #F7F7F7;
    height: 120px;
    border-radius: 20px;
    border: solid 3px #D9D5D5;
    box-shadow: 1px 2px 5px grey;
    margin: 50px 0;
}
.profile-options-real {
    /* background: green; */
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}
.profile-options-button, .profile-options-button-active {
    background : black;
    color: white;
    border: none;
    font-weight: bold;
    height: 70px;
    /* width: 250px; */
    border-radius: 5px;
    font-size: 25px;
    /* margin: 0 20px; */
}
.profile-options-button-active {
    background:#C13540;
}
.profile-options-button:focus, .profile-options-button-active:focus{
    background:#C13540;
    outline: none;
}



/* Profile content area */
.profile-content-area {
    background: #F7F7F7;
    border-radius: 20px;
    border: solid 3px #D9D5D5;
    box-shadow: 1px 2px 5px grey;
    width: 100%;
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}


/* Coach posts cards */
.coach-posts, .performance-logs {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.coach-posts > h1, .performance-accordion-component> h1 {
    font-weight: bold;
}
.coach_posts_card {
    background: white;
    border: solid 3px #D9D5D5;
    width: 70%;
    height: 100%;
    margin: 40px 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.coach_posts_card_header {
    background: black;
    height: 100px;
    width: 100%;
    border-radius: 10px 10px 0 0;
    border: none;
    display: flex;
    align-items: center;
    padding: 20px;
}
.coach_posts_card_header > img {
    height: 80px;
    width: 80px;
    margin: 10px 20px;
    border-radius: 50%;
    object-fit: cover;
    border: solid 5px #C13540;
}
.coach_posts_card_header > h1 {
    font-size: 25px;
    color: white;
    margin-top: 5px;
}

.coach_posts_card_content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;

}
.cpcc_upper {
    /* background: blue; */
    width: 100%;
    height: auto;
    /* min-height: 8vh; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cpcc_upper > h1 {
    font-size: 30px;
    text-transform: capitalize;
    /* margin-left: 30px; */
    font-weight: bold;
    padding: 0;
    color: #C13540;
    margin: 0;
    font-weight: bold;
}
.cpcc_upper > h2 {
    font-size: 20px;
    font-weight: bold;
    color: black;
    /* margin-right: 30px; */
    margin: 0;
}

.cpcc_lower {
    height: auto;
    width: 100%;
    display: flex;
    text-align: start;
    overflow-wrap: break-word;
    margin-top: 10px;
    word-wrap: break-word;
    hyphens: auto;
    
}
.cpcc_lower > p {
    /* margin-left: 30px; */
    font-size: 20px;
    max-width: 100%;
}


/* Perfromance accordion/cards */
.performance-accordion-component {
    width: 70%;
}

.performance-accordion {
    background: white;
    border: 4px solid #D9D5D5;
    margin: 40px 0;
    border-radius: 10px;
}
.performance-accordion-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    flex-direction: column;
    color: white;
    height: 110px;
    font-size: 25px;
    font-weight: bold;
    border: none;
    width: 100%;
    /* padding: 5px; */
    /* border-radius: 10px; */
}
.performance-accordion-header > h1 {
    font-size: 30px;
    font-weight: bold;
}
.performance-accordion-header > h2 {
    font-size: 20px;
}
.performance-accordion-header:focus, .performance-accordion-header:active {
    outline: none;
    background: #C13540;
}

.performance-card-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px 0;
}
.performance-card {
    background: white;
    height: 150px;
    width: 80%;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #D9D5D5;
    box-shadow: 1px 2px 5px grey;

}
.performance-card > h1 {
    font-size: 30px;
    font-weight: bold;
}

.rating-star-read {
    margin: 0 15px;
}


/* Highlights Styling */
.highlight-area {
    /* background: red; */
    width: 90%;
}

.highlights-go-here {
    /* background: green; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.highlight-container {
    width: 30%;
    height: 300px;
    /* background: blue; */
    margin: 10px;
    position: relative;

}

.highlight-player {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    cursor: pointer;
}

.highlight-modal {
   background: black;
   /* display: flex;
   justify-content: center;
   align-items: center; */
   height: 70vh;
   width: 100%;
   position: relative;
}


.delete-option {
    width: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.delete-icon {
    cursor: pointer;
}


.empty-athlete > h1, .highlight-area > h1, .performance-accordion-component > h1, .coach-posts > h1  {
    /* background: red; */
    font-weight: bold;
    margin: 0;
    text-transform: capitalize;
    font-size: calc(30px + (50 - 30) * ((100vw - 300px) / (1700 - 300)));
}
.empty-athlete > h2 {
    font-weight: 400;
    margin: 0;
    margin-top: 20px;
    font-size: calc(25px + (30 - 25) * ((100vw - 300px) / (1700 - 300)));
}



/* Mobile View */

@media screen and (max-width: 600px){
    .athlete-profile {
        /* background: red; */
        width: 90%;
    }

    .profile-header {
        /* background: blue; */
        flex-direction: column;
        height: 350px;
    }

    .profile-header-image > img {
        width: 180px;
        height: 180px;
    }

    .profile-header-image {
        /* background: green; */
        align-items: flex-end;
        width: 100%;
        height: 55%;
    }
    .profile-header-info {
        /* background: red; */
        width: 100%;
        height: 40%;
        justify-content: center;
        align-items: center;
    }
    .slick-slide {
        /* margin: 0 20px; */
        /* background: orange; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .slick-list {
        /* margin: 0 -20px; */
        width: 100%;
        display: flex;
        /* background: blue; */
    }

    /* The coach posts mobile */
    .coach_posts_card {
        /* background: red; */
        width: 95%;
        flex-direction : column;
    }
    .coach_posts_card_header {
        height: 80px;
        /* background: red; */
        width: 100%;
        flex-direction: row;
        /* justify-content: space-around; */
        border-radius: 10px 10px 0 0;
        
        
    }

    .coach_posts_card_header > img {
        width: 60px;
        margin-right: 20px;
        height: 60px;
        border: solid 5px #C13540;
    }

    .coach_posts_card_content {
        width: 100%;
        padding: 20px 20px;
    }

    .cpcc_upper {
        /* background: red; */
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        margin: 0;
    }
    .cpcc_upper > h1, .cpcc_upper > h2 {
        margin: 0;
    }

    .cpcc_lower {
        /* background: blue; */
        margin: 0;
        padding: 10px;
    }
    .cpcc_lower > p {
        margin: 0 5px;;
    }

    .rating-star-read {
        margin: 0 5px;
    }


    /* performance mobile styling */
    .performance-accordion-component {
        width: 95%;
    }
    .performance-accordion-header {
        height: 90px;
    }

    .performance-accordion-header > h1 {
        font-size: 25px;
    }
    .performance-accordion-header > h2 {
        font-size: 18px;
    }
    .performance-card {
        width: 95%;
    }

    .performance-card > div > svg {
        width: 35px;
    }
}


/* React Slick */
/* the slides */
.slick-slide {
    margin: 0 20px;
    /* background: orange; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.slick-track {
    display: flex;
}
/* the parent */
.slick-list {
    /* margin: 0 -30px; */
    width: 80%;
    display: flex;
    /* background: blue; */

}
@media screen and (max-width: 900px) and (min-width: 601px){
    .athlete-profile {
        width: 80%;
    }
    .profile-header-info {
        width: 45%;
    }
    .profile-header-image > img {
        width: 180px;
        height: 180px;
    }
    .coach_posts_card {
        width: 85%;
    }

    .slick-list {
        width: 95%;
    }

    /* performance tablet styling */
    .performance-accordion-component {
        width: 90%;
    }

    .performance-card {
        width: 90%;
    }

    .performance-card > div > svg {
        width: 45px;
    }
    .rating-star-read {
        margin: 0 10px;
    }
}



@media screen and (min-width: 1800px){
    .profile-header {
        height: 450px;
    }

    .profile-header-info {
        width: 40%;
    }
    .profile-header-image {
        /* background: red; */
        width: 30%;
    }
    .profile-header-image > img {
        height: 300px;
        width: 300px;
        border: solid 12px #C13540;
    }

    .profile-header-info > h1 {
        font-size: 80px;
    }
    .profile-header-info > h2 {
        font-size: 50px;
    }

    .profile-options {
        height: 200px;
    }
    .profile-options-button, .profile-options-button-active {
        height: 100px;
        font-size: 40px;
    }

    .coach_posts_card_header {
        padding: 80px 90px;
    }

    .coach_posts_card_header > img {
        width: 120px; height: 120px;
        border: solid 10px #C13540;
        margin-right: 30px;
    }
    .coach_posts_card_header > h1 {
        font-size: 40px;
    }

    .cpcc_upper, .cpcc_lower {
        width: 85%;
    }
    .cpcc_lower > p {
        font-size: 35px;
    }
    .cpcc_upper > h1 {
        font-size: calc(40px + (60 - 40) * ((100vw - 1700px) / (3000 - 1700)));
        
    }
    .cpcc_upper > h2 {
        font-size: calc(30px + (40 - 30) * ((100vw - 1700px) / (3000 - 1700)));
    }

    .cpcc_upper { 
        margin: 10px 0;
    }

    /* the parent */
    .slick-list {
        width: 75%;
        display: flex;

    }
    .slick-slide {
        margin: 0 30px;
    }

    .rating-star-read {
        margin: 0 20px;
    }


    /* performance mobile styling */
    .performance-accordion {
        margin: 70px 0;
    }

    .performance-accordion-header > h1 {
        font-size: calc(40px + (50 - 40) * ((100vw - 1700px) / (3000 - 1700)));
    }
    .performance-accordion-header > h2 {
        font-size: calc(35px + (40 - 35) * ((100vw - 1700px) / (3000 - 1700)));
    }
    .performance-accordion-header {
        height: 150px;
    }
    .performance-card {
        /* width: 95%; */
        height: 200px;
        /* background: red; */
    }

    .performance-card > h1 {
        font-size: calc(40px + (60 - 40) * ((100vw - 1700px) / (3000 - 1700)));
    }

    .performance-card > div > svg {
        width: 60px;
        height: 80px;
    }
}

@media screen and (max-width: 1200px) and (min-width: 901px){
    .athlete-profile {
        width: 70%;
        /* background: red; */
    }


    /* performance tablet styling */
    .performance-accordion-component {
        width: 90%;
    }

    .performance-card {
        width: 90%;
    }

    .performance-card > div > svg {
        width: 45px;
    }
    .rating-star-read {
        margin: 0 10px;
    }
    
}