.athlete-profile-main {
    display: flex;
    justify-content: center;
    align-items: center;
}
.athlete-profile {
    /* background: red; */
    width: 60%;
    height: auto;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

/* Profile header styling */
.profile-header-image {
    /* background: green; */
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-header-image > img {
    width: 200px;
    height: 200px;
    position: cover;
    border-radius: 50%;
    object-fit: cover;
    border: solid 8px #C13540;
}
.profile-header-info {
    /* background: orange; */
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}
.profile-header-info > h1 {
    font-weight: bold;
    /* font-size: 50px; */
    text-transform: capitalize;
    font-size: calc(30px + (50 - 30) * ((100vw - 300px) / (1700 - 300)));

    
}
.profile-header-info > h2 {
    font-weight: 400;
    font-size: calc(25px + (30 - 25) * ((100vw - 300px) / (1700 - 300)));
    
}
.profile-header-info > h3 {
    font-weight: 400;
    font-size: calc(25px + (30 - 25) * ((100vw - 300px) / (1700 - 300)));
}
.profile-header {
    background: #F7F7F7;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 3px #D9D5D5;
    border-radius: 20px;
    box-shadow: 1px 2px 5px grey;
}


/* Profile options bar */
.profile-options {
    background: #F7F7F7;
    height: 120px;
    border-radius: 20px;
    border: solid 3px #D9D5D5;
    box-shadow: 1px 2px 5px grey;
    margin: 50px 0;
}
.profile-options-real {
    /* background: green; */
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}
.profile-options-button, .profile-options-button-active {
    background : black;
    color: white;
    border: none;
    font-weight: bold;
    height: 70px;
    /* width: 250px; */
    border-radius: 5px;
    font-size: 25px;
    /* margin: 0 20px; */
}
.profile-options-button-active {
    background:#C13540;
}
.profile-options-button:focus, .profile-options-button-active:focus{
    background:#C13540;
    outline: none;
}



/* Profile content area */
.profile-content-area {
    background: #F7F7F7;
    border-radius: 20px;
    border: solid 3px #D9D5D5;
    box-shadow: 1px 2px 5px grey;
    width: 100%;
    padding: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}


.sort-by {
    /* background: red; */
    width: 50%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
}
.sort-by > h1 {
    font-size: calc(16px + (20 - 16) * ((100vw - 300px) / (1700 - 300)));
    margin: 0;
    margin-right: 10px;

}

.sort-by>select {
    width: 30%;
}.sort-by>select:active, .sort-by>select:focus {
    outline: none;
}

/* Coach posts cards */
.coach-posts, .performance-logs {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.coach-posts > h1, .performance-accordion-component> h1 {
    font-weight: bold;
}
.coach_posts_card {
    background: white;
    border: solid 3px #D9D5D5;
    width: 70%;
    height: 100%;
    margin: 40px 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.coach_posts_card_header {
    background: black;
    height: 100px;
    width: 100%;
    border-radius: 10px 10px 0 0;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.coach_post_header_info {
    /* background: red; */
    height: 100px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.coach_post_header_info > img {
    height: 80px;
    width: 80px;
    margin: 10px 20px;
    border-radius: 50%;
    object-fit: cover;
    border: solid 5px #C13540;
}
.coach_post_header_info > h1 {
    font-size: calc(20px + (25 - 20) * ((100vw - 300px) / (1700 - 300)));
    color: white;
    margin-top: 5px;
}

.coach_posts_card_content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;

}
.cpcc_upper {
    /* background: blue; */
    width: 100%;
    height: auto;
    /* min-height: 8vh; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cpcc_upper > h1 {
    font-size: 30px;
    text-transform: capitalize;
    /* margin-left: 30px; */
    font-weight: bold;
    padding: 0;
    color: #C13540;
    margin: 0;
    font-weight: bold;
}
.cpcc_upper > h2 {
    font-size: 20px;
    font-weight: bold;
    color: black;
    /* margin-right: 30px; */
    margin: 0;
}

.cpcc_lower {
    height: auto;
    width: 100%;
    display: flex;
    text-align: start;
    overflow-wrap: break-word;
    margin-top: 10px;
    word-wrap: break-word;
    hyphens: auto;
    
}
.cpcc_lower > p {
    /* margin-left: 30px; */
    font-size: 20px;
    max-width: 100%;
}


/* Perfromance accordion/cards */
.performance-accordion-component {
    width: 70%;
    /* background: green; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.performance-accord {
    width: 100%;
}
.performance-accordion {
    background: white;
    border: 4px solid #D9D5D5;
    margin: 40px 0;
    border-radius: 10px;
    overflow: hidden;
    width: 100;
}
.performance-accordion-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    flex-direction: column;
    color: white;
    height: 110px;
    font-size: 25px;
    font-weight: bold;
    border: none;
    width: 100%;
    /* padding: 5px; */
    /* border-radius: 10px; */
}
.performance-accordion-header > h1 {
    font-size: 30px;
    font-weight: bold;
}
.performance-accordion-header > h2 {
    font-size: 20px;
}
.performance-accordion-header:focus, .performance-accordion-header:active {
    outline: none;
    background: #C13540;
}

.performance-card-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px 0;
}
.performance-card {
    background: white;
    height: 150px;
    width: 80%;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #D9D5D5;
    box-shadow: 1px 2px 5px grey;

}
.performance-card > h1 {
    font-size: 30px;
    font-weight: bold;
}

.rating-star-read {
    margin: 0 15px;
}


/* Highlights Styling */
.highlight-area {
    /* background: red; */
    width: 90%;
}

.highlights-go-here {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-auto-rows: minmax(70px, auto);
    grid-gap: 20px;
    /* padding: 40px; */
    margin-top: 40px;
    justify-items: center;
}

.highlight-container {
    width: 100%;
    height: 300px;
    /* background: blue; */
    border-radius: 10px;
    overflow: hidden;
    /* border: solid grey 2px; */
    box-shadow: 0px 0px 5px 1px grey;
    margin: 10px;
    position: relative;

}

.video-overlay {
    background: rgb(21, 21, 21);
    opacity: .7;
    width: 100%;
    height: 100%;
    cursor: pointer
}

.video-overlay > svg{
    position: relative;
    top: 40%;
    z-index: 2;
    color: white;
    width: 50px;
    height: 50px;
    fill-opacity: 1;
}

.highlight-player {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    cursor: pointer;
}

.highlight-modal {
   background: white;
   display: flex;
   justify-content: center;
   align-items: center;
   /* height: 80vh; */
   padding: 50px 10px;
   width: 60%;
   position: relative;
   border: none;
   box-shadow: 1px 1px 20px 5px black;
   border-radius: 10px;
   flex-direction: column;
}
.highlight-modal:active, .highlight-modal:focus {
    outline: none;
}

.video-info {
    /* background: black; */
    width:70%;
    height: 500px;
    border: 5px solid black;
    border-top: none;
    border-radius: 0 0 30px 30px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.video-real {
    background: black;
    width: 70%;
    height: 100px;
    border: 5px solid black;
    border-bottom: none;
    border-radius: 30px 30px 0 0;
}

.real-video-player {
    /* width: 100%; */
    height: 85%;
    /* border-radius: 25px; */
}

.controls {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 5px 20px 20px rgb(0,0,0,.7);
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;
    height: 15%;
    /* margin-bottom: 10px; */
    /* border-radius:15px; */
    flex-wrap: wrap;
}

.video-buttons {
    /* background: red; */
    border-radius: 50%;
}

.video-buttons button {
    background: none;
    border: 0;
    outline: 0;
    cursor: pointer;
    width: 50px;
    height: 50px;
    /* color: white; */
    border-radius: 50%;
    border: solid 5px black;
    display: flex;
    align-items: center;
    justify-content: center;
}
.video-buttons > button:active, .video-buttons > button:focus {
    outline: none;
}


.delete-option {
    width: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.delete-icon {
    cursor: pointer;
}


.empty-athlete > h1, .highlight-area > h1, .performance-accordion-component > h1, .coach-posts > h1  {
    /* background: red; */
    font-weight: bold;
    margin: 0;
    text-transform: capitalize;
    font-size: calc(30px + (50 - 30) * ((100vw - 300px) / (1700 - 300)));
}
.empty-athlete > h2 {
    font-weight: 400;
    margin: 0;
    margin-top: 20px;
    font-size: calc(25px + (30 - 25) * ((100vw - 300px) / (1700 - 300)));
}



/* Mobile View */

@media screen and (max-width: 600px){
    .sort-by {
        /* background: red; */
        width: 70%;
    }
    .sort-by>select {
        width: 50%;
    }
    .athlete-profile {
        /* background: red; */
        width: 95%;
    }

    .profile-header {
        /* background: blue; */
        flex-direction: column;
        height: 350px;
    }

    .profile-header-image > img {
        width: 180px;
        height: 180px;
    }

    .profile-header-image {
        /* background: green; */
        align-items: flex-end;
        width: 100%;
        height: 55%;
    }
    .profile-header-info {
        /* background: red; */
        width: 100%;
        height: 40%;
        justify-content: center;
        align-items: center;
    }
    .slick-slide {
        /* margin: 0 20px; */
        /* background: orange; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .slick-list {
        /* margin: 0 -20px; */
        width: 100%;
        display: flex;
        /* background: blue; */
    }

    /* The coach posts mobile */
    .coach_posts_card {
        /* background: red; */
        width: 95%;
        flex-direction : column;
    }
    .coach_posts_card_header {
        height: 80px;
        /* background: red; */
        width: 100%;
        flex-direction: row;
        /* justify-content: space-around; */
        border-radius: 10px 10px 0 0;
        
        
    }

    .coach_post_header_info {
        height: 80px;
        width: 90%;
        /* background: red; */
        /* justify-content: center; */
    }
    .coach_post_header_info > img {
        width: 60px;
        margin: 0;
        margin-right: 10px;

        height: 60px;
        border: solid 5px #C13540;
    }

    .coach_posts_card_content {
        width: 100%;
        padding: 20px 20px;
    }

    .cpcc_upper {
        /* background: red; */
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        margin: 0;
    }
    .cpcc_upper > h1, .cpcc_upper > h2 {
        margin: 0;
    }

    .cpcc_lower {
        /* background: blue; */
        margin: 0;
        padding: 10px;
    }
    .cpcc_lower > p {
        margin: 0 5px;;
        /* text-align: center */
    }

    .rating-star-read {
        margin: 0 5px;
    }


    /* performance mobile styling */
    .performance-accordion-component {
        width: 95%;
    }
    .performance-accordion-header {
        height: 90px;
    }

    .performance-accordion-header > h1 {
        font-size: 25px;
    }
    .performance-accordion-header > h2 {
        font-size: 18px;
    }
    .performance-card {
        width: 95%;
    }

    .performance-card > div > svg {
        width: 35px;
    }

    .highlights-go-here {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
        grid-auto-rows: minmax(20px, auto);
        justify-items: center;
        grid-gap: 5px;;
        row-gap: 5px;
    }
    
    .highlight-container {
        width: 100%;
        height: 200px;
        /* background: blue; */
        margin: 0;
    }

    .highlight-modal {
        width: 95%;
    }

    .video-info, .video-real {
        width: 95%;
    }

    .video-real {
        height: 80px;
    }
    .video-info {
        height: 470px;
    }

    .video-buttons {
        margin: 5px;
    }
    #play-pause > svg {
        width: 20px;
        height: 20px;
    }
}


/* React Slick */
/* the slides */
.slick-slide {
    margin: 0 20px;
    /* background: orange; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.slick-track {
    display: flex;
}
/* the parent */
.slick-list {
    /* margin: 0 -30px; */
    width: 90%;
    display: flex;
    /* background: blue; */

}
@media screen and (max-width: 900px) and (min-width: 601px){
    .athlete-profile {
        width: 80%;
    }
    .profile-header-info {
        width: 45%;
    }
    .profile-header-image > img {
        width: 180px;
        height: 180px;
    }
    .coach_posts_card {
        width: 85%;
    }

    .slick-list {
        width: 95%;
    }

    /* performance tablet styling */
    .performance-accordion-component {
        width: 90%;
    }

    .performance-card {
        width: 90%;
    }

    .performance-card > div > svg {
        width: 45px;
    }
    .rating-star-read {
        margin: 0 10px;
    }


    .highlights-go-here {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
        grid-auto-rows: minmax(20px, auto);
        justify-items: center;
        grid-gap: 5px;;
        row-gap: 5px;
    }
    
    .highlight-container {
        width: 100%;
        height: 250px;
        /* background: blue; */
        margin: 0;
    }
    .highlight-modal {
        width: 80%;
    }
    .video-real {
        height: 80px;
    }
}



@media screen and (min-width: 2000px){

    .athlete-profile {
        margin-top: 250px;
    }

    .delete-option > svg{
        /* font-size: 50px; */
        width: 30px;
        height: 30px;
    }

    .sort-by {
        /* background: red; */
        height: 80px;
    }
    .sort-by > h1 {
        font-size: 30px;
    }.sort-by > select {
        /* background: green; */
        height: 50%;
    }
    .profile-header {
        height: 450px;
    }

    .profile-header-info {
        width: 40%;
    }
    .profile-header-image {
        /* background: red; */
        width: 30%;
    }
    .profile-header-image > img {
        height: 300px;
        width: 300px;
        border: solid 12px #C13540;
    }

    .profile-header-info > h1 {
        font-size: 80px;
    }
    .profile-header-info > h2 {
        font-size: 50px;
    }

    .profile-options {
        height: 200px;
    }
    .profile-options-button, .profile-options-button-active {
        height: 100px;
        font-size: 40px;
    }

    .coach_posts_card_header {
        padding: 80px 90px;
    }

    .coach_post_header_info > img {
        width: 120px; height: 120px;
        border: solid 10px #C13540;
        margin-right: 30px;
    }
    .coach_post_header_info > h1 {
        font-size: 40px;
    }

    .cpcc_upper, .cpcc_lower {
        width: 85%;
    }
    .cpcc_lower > p {
        font-size: 35px;
    }
    .cpcc_upper > h1 {
        font-size: calc(40px + (60 - 40) * ((100vw - 1700px) / (3000 - 1700)));
        
    }
    .cpcc_upper > h2 {
        font-size: calc(30px + (40 - 30) * ((100vw - 1700px) / (3000 - 1700)));
    }

    .cpcc_upper { 
        margin: 10px 0;
    }

    /* the parent */
    .slick-list {
        width: 85%;
        display: flex;

    }
    .slick-slide {
        margin: 0 30px;
    }

    .rating-star-read {
        margin: 0 20px;
    }


    /* performance mobile styling */
    .performance-accordion {
        margin: 70px 0;
    }

    .performance-accordion-header > h1 {
        font-size: calc(40px + (50 - 40) * ((100vw - 1700px) / (3000 - 1700)));
    }
    .performance-accordion-header > h2 {
        font-size: calc(35px + (40 - 35) * ((100vw - 1700px) / (3000 - 1700)));
    }
    .performance-accordion-header {
        height: 150px;
    }
    .performance-card {
        /* width: 95%; */
        height: 200px;
        /* background: red; */
    }

    .performance-card > h1 {
        font-size: calc(40px + (60 - 40) * ((100vw - 1700px) / (3000 - 1700)));
    }

    .performance-card > div > svg {
        width: 60px;
        height: 80px;
    }


    /* highlights */
    .highlight-area {
        /* background: red; */
        width: 80%;
    }

    .highlight-container {
        height: 450px;
    }

    .highlight-modal {
        width: 50%;
    }

    .video-overlay > svg{
        position: relative;
        top: 40%;
        z-index: 2;
        color: white;
        width: 80px;
        height: 80px;
        fill-opacity: 1;
    }
    

    .video-info{
        height: 1000px;
    }

    .video-real {
        height: 200px;
    }
    .video-buttons > button {
        height: 100px;
        width: 100px;
        border: solid black 10px;
    }

    .video-buttons > button > svg {
        /* height: 100px; */
        font-size: 40px;
    }
}

@media screen and (max-width: 1200px) and (min-width: 901px){
    .athlete-profile {
        width: 75%;
        /* background: red; */
    }

    .coach_posts_card {
        width: 80%;
    }

    .slick-list {
        width: 90%;
        display: flex;

    }

    /* performance tablet styling */
    .performance-accordion-component {
        width: 90%;
    }

    .performance-card {
        width: 90%;
    }

    .performance-card > div > svg {
        width: 45px;
    }
    .rating-star-read {
        margin: 0 10px;
    }


    .highlights-go-here {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-auto-rows: minmax(20px, auto);
        justify-items: center;
        grid-gap: 10px;;
        row-gap: 10px;
    }
    
    .highlight-container {
        width: 100%;
        height: 300px;
        /* background: blue; */
        margin: 0;
    }
    
}