
.add-athlete-body {
    /* background: green; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.form-group-athlete-pic {
    background: #F7F7F7;
    /* background: red; */
    height: 250px;
    width: 80%;
    /* margin-top: 50px; */
    border: solid #b3b3b3 5px;
    border-radius: 20px 20px 0 0;
    /* border-top: none; */
    border-bottom: none;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.form-group-form {
    /* background: blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 50vh; */
    width: 80%;
}

.form-group-name {
    background: #F7F7F7;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid #b3b3b3 5px;
    border-top: none;
    border-bottom: none;
}

.fg-name {
    /* background: red; */
    width: 35%;
}

.text-input {
    height: 70%;
}

.form-group {
    /* background: green; */
    height: 80px;
    margin: 16px;
    display: flex;
    flex-direction: column;
}
.form-group > label {
    margin: 5px;
    font-size: 20px;
    font-weight: bold;
}
#lastname, #firstname, #age, #position {
    padding: 10px;
}


.form-group-other {
    background: #F7F7F7;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid #b3b3b3 5px;
    border-top: none;
    border-bottom: none;
}

.athlete-pic-div {
    height: 95%;
    width: 50%;
    /* background: blue; */
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}

.athlete-pic-img {
    height: 150px;
    width: 150px;
    border: solid #C13540 7px;
    border-radius: 50%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.athlete-pic-img > img {
    height: 130px;
    width: 130px;
    object-fit: cover;
    border-radius: 50%;
}

.o-form {
    /* background: red; */
    width: 35%;
    /* margin: 0 20px; */
}

.form-group-buttons {
    /* background: orange; */
    background: #F7F7F7;
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-bottom: 50px; */
    border-radius: 0 0 20px 20px;
    border: solid rgb(179, 179, 179) 5px;
    border-top: none;
}
.form-group-buttons > button {
    background: #C13540;
    border: none;
    color: white;
    width: 75%;
    height: 50%;
    font-weight: bold;
    font-size: calc(20px + (26 - 20) * ((100vw - 300px) / (1700 - 300)));
}

.form-label {
    /* background: blue; */
    height: 60%;
    overflow: hidden; 
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;;
}

.form-label > h1 {
    font-size: 20px;
    /* margin-left: 5px; */
    font-weight: bold;
    /* margin: 5px 5px 5px 5px; */
}
.form-label > label {
    height: 40%;
}
.input-error-feedback {
    color: red;
    font-size: 30px;
    margin: 0;
}


.add-athlete-modal-header {
    /* background: red; */
    height: 5vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    object-fit: cover;
}
.add-athlete-modal-header > h1, .add-athlete-modal-header > h2 {
    font-size: 30px;
    margin: 0 20px;
}
.add-athlete-modal-header > h2 {
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}


@media screen and (max-width: 600px){
    .form-group-athlete-pic, .form-group-form {
        width: 100%;
    }

    .form-group-name {
        flex-direction: column;
        height: 30vh;
        /* background:  green; */
    }

    .fg-name {
        width: 80%;
    }

    .athlete-pic-div{
        width: 100%;
    }

    .form-group-buttons > button {
        width: 80%;
    }
}

@media screen and (max-width: 1000px) and (min-width: 601px){
    .form-group-athlete-pic, .form-group-form {
        width: 100%;
    }

    .form-group-name {
        flex-direction: column;
        height: 230px;;
        /* background:  green; */
    }

    .fg-name {
        width: 80%;
    }

    .athlete-pic-div{
        width: 60%;
    }

    .form-group-buttons > button {
        width: 80%;
    }
}