.athlete-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* background: red; */
}

.athlete-card-layout {
    /* background: blue; */
    width: 85%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 2fr));
    grid-auto-rows: minmax(70px, auto);
    grid-gap: 20px;
    padding: 40px;
    justify-items: center;
    margin-top: 100px;
}

.athlete-card {
    background: #EFEFEF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin: 30px 30px; */
    width: 100%;
    height: 350px;
    max-width: 300px;
    border: #C6C6C6 2px solid;
    border-radius: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.athlete-card > img {
    width: 120px;
    border-radius: 50%;
    border: solid 5px #C13540; 
    height: 120px;
    position: cover;
    margin: 10px 0;
}

.athlete-card > h1 {
    font-size: 25px;
    margin: 2px 0;
}

.athlete-card > h2 {
    font-size: 20px;
    font-weight: 400;
}

.athlete-card > button {
    background: #C13540;
    border: none;
    color: white;
    width: 60%;
    height: 13%;
    font-weight: bold;
    margin: 10px;
}