.performance-log-admin {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.performance-log-rating {
    /* background: green; */
    /* height: 50vh; */
    width: 85%;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.rating-card {
    background: white;
    border: solid #D9D5D5 2px;
    width: 80%;
    height: 150px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.rating-card > h1 {
    font-weight: bold;
    font-size: 30px;
}

.rating-star {
    cursor: pointer;
    margin: 0 25px;
}
.star-radio {
    display: none;
}

.rating-button {
    background: #C13540;
    color: white;
    border: none;
    margin: 20px 0;
    height: 7vh;
    width: 85%;
    font-size : 25px;
    font-weight: bold;
}
 
@media screen and (max-width: 600px){
    .rating-card {
        width: 95%;
    }

    .rating-button {
        width: 95%;
    }

    .performance-log-rating {
        width: 100%;
    }
    .rating-star {
        margin: 0 8px;
        height: 40px;
        width: 40px;
    }
}

@media screen and (max-width: 1000px) and (min-width: 601px){
    .rating-card {
        width: 95%;
    }

    .rating-star {
        height: 45px;
        width: 45px;
        margin: 0 15px;
    }
}