.coach-post-admin {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.coach-post-create-post {
    background: white;
    border: solid #707070 1px;
    width: 85%;
    height: 25vh;
    display: flex;
    margin: 25px 0px;
    border-radius: 15px;
}

.coach-post-create-header {
    background: black;
    width: 30%;
    border-radius: 15px 0 0 15px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
}

.coach-post-create-header > img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: solid 5px #C13540;

}

.coach-post-create-header > h1 {
    font-size: 25px;
    margin: 15px 0;
    color: white
}

.coach-post-create-header > h2 {
    margin: 2px 0;
    font-size: 16px;
    color: white;
}

.coach-post-create-textarea {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.coach-post-create-select {
    /* background: red; */
    width: 90%;
    display: flex;
    align-items: center;
    height: 20%;
}

.coach-post-create-select > h2 {
    font-size: 18px;
    margin: 5px;
}

.coach-post-create-textarea > textarea {
    max-width: 90%;
    padding: 10px;
    background: #F4F4F4;
    max-height: 70%;
    border-radius: 10px;
    border: solid #707070 1px;

}

.create-post-button {
    background: #C13540;
    color: white;
    border: none;
    margin: 20px 0;
    height: 7vh;
    width: 85%;
    font-size : 25px;
    font-weight: bold;
}


@media screen and (max-width: 600px){
    .coach-post-create-post {
        flex-direction: column;;
        width: 95%;
        height: 60vh;
        padding: 0;
    }
    .coach-post-create-header {
        height: 20%;
        width: 100%;
        border-radius: 10px 10px 0 0;
        flex-direction: row;
    }
    .coach-post-create-header > img {
        width: 70px;
        height: 70px;
        margin-right: 15px;
    }
    .coach-post-create-textarea {
        width: 100%;
        padding-top: 20px;
        height: 75%;
    }
    .coach-post-create-textarea > textarea {
        height: 100%;
    }

    .coach-post-create-select {
        background: black;
        color: white;
        justify-content: center;
        border-radius: 10px;
        margin-top: 20px;
    }

    #coach-post-type {
        background: white;
        color: black;
        margin-left: 10px;
        width: 40%;
    }

    .create-post-button {
        width: 95%;
    }
}

@media screen and (max-width: 1000) and (min-width: 601px){
    
}