.navbar {
    height: 10vh;
    background: black;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.nav-logo {
    /* border: solid 2px orange; */
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar_links {
    width: 75%;
    height: 100%;
}

.nav-links {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    /* border: solid 2px green; */
}

.navlink {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

.navlink:hover {
    text-decoration: none;
    color: red;
}

.login-button, .logout-button{
    width: 25%;
    height: 100%;
    /* border: solid 2px blue; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-button > button, .logout-button > button {
    background: white;
    width: 50%;
    height: 60%;
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}
.login-button > button:hover, .logout-button > button:hover {
    background: red;
    color: white;
}

.nav-logo > img {
    width: 200px;
    cursor: pointer;
}

.navbar_real {
    width: 100%;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    /* border: solid red 2px; */
}