.navbar, #navbar {
    height: 100px;
    background: black;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */
    position: fixed;
    z-index: 3;
}

.nav-logo, #nav-logo {
    /* border: solid 2px orange; */
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar_links, #navbar_links {
    width: 80%;
    height: 100%;
}

.nav-links {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    /* background: green; */
}

.navlink {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

.navlink:hover {
    text-decoration: none;
    color: #C13540;
}

.login-button, .logout-button{
    width: 20%;
    height: 100%;
    /* border: solid 2px blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: orange; */
}

.login-button > button, .logout-button > button {
    background: white;
    width: 70%;
    height: 60%;
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}
.login-button > button:hover, .logout-button > button:hover {
    background: #C13540;
    color: white;
}
.login-button > button:focus, .logout-button > button:focus {
    outline: none;
}

.nav-logo > img, #reg-logo, #mobile-logo {
    width: 70%;
    cursor: pointer;
}

.navbar_real {
    width: 100%;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    /* border: solid red 2px; */
}
.noti-badge {
    /* background: red; */
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 1000px){
    .nav-links, .login-button, .logout-button, .reg-logo {
        display: none;
    }
    #navbar {
        justify-content: space-between;
    }
    #navbar_links {
        width: 50%;
        /* background: green; */
    }
    .nav-logo > img {
        width: 80px;
    }
    .nav-logo {
        width: 40%;
    }

    .noti-badge {
        width: 30%;
        /* background: blue; */
    }
}

@media screen and (max-width: 600px){
    #nav-logo {
        width: 30%;
    }

    #navbar_links {
        width: 40%;
    }
}

@media screen and (max-width: 1000px) and (min-width: 601px){
    #nav-logo {
        /* background: red; */
        width: 30%;
    }

    #nav-logo > img {
        height: 100%;
        width: 100px;
    }
}

@media screen and (min-width: 1001px){
    .togglebutton, .mobile-logo {
        display: none;
    }
}

@media screen and (min-width: 2000px){
    #navbar {
        height: 200px;
    }
    .navlink {
        font-size: 35px;
    }

    .login-button > button, .logout-button > button {
        background: white;
        width: 70%;
        height: 50%;
        border: none;
        font-weight: bold;
        cursor: pointer;
        font-size: 30px;
        border-radius: 5px;
    }

    .noti-badge > div >span > svg {
        font-size: 30px;
        height: 80px;
        width: 80px;
    }
    .noti-badge > div >span > span {
        font-size: 30px;
        height: 40px;
        width: 40px;
    }
}