.notification {
    /* background: grey; */
    width: 50px;
    height:50px;
    /* margin: 0 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.notification-modal {
    min-width: 55%;
}
.modal-body {
    margin-bottom : 50px;
    
}


.notification-card {
    background: #F4F4F4;
    /* background: green; */
    border: solid 1px #D9D5D5;
    box-shadow: 2px 5px 10px grey;
    width: 90%;
    height: 180px;
    margin: 20px 0;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
}

.notification-card-header {
    background: black;
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px 0 0 15px;
}

.notification-card-header > img {
    width: 80px;
    height: 80px;
    position: cover;
    border-radius: 50%;
    border: solid 3px #C13540;

}

.notification-card-header > h1 {
    font-size: 20px;
    color:white;
    margin: 10px 0;
}

.notification-card-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
    border-left: solid 1px grey
    
}

.notification-card-info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: red; */
}

.n-c-i-body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.n-c-i-body > h1 {
    font-size: 22px;
    padding: 0;
    text-transform: capitalize;
    color: rgb(48, 48, 48);
}

.review-requests {
    background: black;
    border: none;
    height: 35px;
    width: 50%;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin: 5px 0;
}
.review-requests:hover {
    background: #C13540;
}
.review-requests:focus {
    outline: none
}

.notification-card-buttons > button {
    width: 70%;
    margin: 10px 0;
    height: 25%;
    border: none;
    color: white;
    font-weight: bold;
}
.not-button-accept {
    background: green;
}
.not-button-reject {
    background: red;
}


.notification-modal-body {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: space-around;
}

.popover-content {
    background: rgb(244, 244, 244);
    width: 30vw;
    height: 45vh;
    display: flex;
    border-radius: 5px;
    border:solid rgb(131, 131, 131) 2px;
    justify-content: center;
    align-items: center;
}
.performance-log-popover {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: column;;
    padding: 20px;
    /* background: yellow; */
}

.performance-log-popover-card {
    background: white;
    border: 2px solid #D9D5D5;
    border-radius: 10px;
    padding: 10px;
    width: 70%;
    height: 27%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.performance-log-popover-card >h1 {
    font-size: 26px;
    margin: 0;
}

.rating-star-red {
    margin: 0 5px;
}


@media screen and (max-width: 600px) {
    .notification-card {
        /* background: red; */
        flex-direction: column;
        width: 100%;
        height: 50vh;
    }

    .notification-card-header {
        width: 100%;
        border-radius: 15px 15px 0 0px;
        flex-direction: row;
        height: 30%;
    }
    .notification-card-header > h1 {
        margin-left: 15px;
        font-size: 25px;
    }

    .notification-card-info {
        /* background: grey; */
        width: 100%;
        height: 45%;
    }

    .notification-card-buttons {
        /* background: yellow; */
        height: 25%;
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        border-top: solid 1px grey;
        border-left: none;

    }
    .notification-card-buttons > button {
        height: 50%;
        width: 40%;

    }
    .popover-content {
        width: 90vw;
    }
    .performance-log-popover-card {
        width: 90%;
    }
    .performance-log-popover {
        padding: 5px;
    }
    
}


@media screen and (max-width: 1000px) and (min-width: 700px){
    .notification-modal {
        min-width: 85%;
    }
    .popover-content {
        width: 55vw;
    }
    .performance-log-popover-card {
        width: 80%;
    }
}

@media screen and (max-width: 1300px) and (min-width: 1000px){
    .notification-modal {
        min-width: 70%;
    }
    .popover-content {
        width: 40vw;
    }
}

@media screen and (min-width: 1800px){
    .notification {
        height: 90px;
        width: 90px;
    }
    .not-icon {
        height: 90px;
        width: 90px;
    }
    .modal-content {
        height: 50%;
        
    }
    .modal-body {
        /* background: red; */
        margin: 0;
        padding: 0;
    }

    .notification-card {
        height: 15vh;
    }
    .notification-card-header > h1 {
        margin-left: 15px;
        font-size: 35px;
    }
    .notification-card-header > img {
        width: 130px;
        height: 130px;
        position: cover;
        border-radius: 50%;
        border: solid 3px #C13540;
    
    }

    .n-c-i-body > h1 {
        font-size: 40px;
        padding: 0;
        text-transform: capitalize;
        color: rgb(48, 48, 48);
    }
    .review-requests {
        background: black;
        border: none;
        height: 60px;
        width: 50%;
        border-radius: 5px;
        /* color: white; */
        font-weight: bold;
        margin: 10px 0;
        font-size: 30px;
    }

    .pending-header {
        height: 5vh;
        font-size: 50px;
        /* background: grey; */
        height: 100%;
        width: 100%;
        padding: 20px;
    }
    
}
